<form [formGroup]="group">

  <label>Region</label>
  <mat-radio-group formControlName="region">
    <mat-radio-button value="northamerica">North America</mat-radio-button>
    <mat-radio-button value="europe">Europe</mat-radio-button>
    <mat-radio-button value="asia">Asia</mat-radio-button>
    <mat-radio-button value="all">All</mat-radio-button>
  </mat-radio-group>

  <label>Date Range</label>
  <mat-form-field>
    <input matInput [matDatepicker]="fromPicker" placeholder="From date" formControlName="fromDate">
    <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
    <mat-datepicker #fromPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="toPicker" placeholder="To date" formControlName="toDate">
    <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
    <mat-datepicker #toPicker></mat-datepicker>
  </mat-form-field>

  <ng-container formGroupName="age">
    <label>Age Groups</label>
    <mat-checkbox formControlName="under18">Under 18</mat-checkbox>
    <mat-checkbox formControlName="18to40">18 to 40</mat-checkbox>
    <mat-checkbox formControlName="40to60">40 to 60</mat-checkbox>
    <mat-checkbox formControlName="over60">Over 60</mat-checkbox>
  </ng-container>
  
</form>
<pre>{{ group.value | json }}</pre>