mat-radio-button, mat-radio-group, label, mat-checkbox, mat-form-field {
  display: block;
}

form {
  margin-top: 16px;
}

mat-radio-button {
  margin-top: 5px;
}

mat-radio-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 10px;
}

mat-form-field {
  width: 150px;
}
