:host {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  grid-template-areas: 'list player filters';
}

app-video-list {
  grid-area: list;
}

app-video-player {
  grid-area: player;
}

app-stat-filters {
  grid-area: filters;
}
